body {
    background-color: #FFC0CB;
}
a{
    background-color: #FFFFFF
    color: #C154C1;
}
h1{ 
  color: #000000;
}
p{
 backgroud-color: E6E6FA;
 color: #000000
}
img{
   width: 30%
}
video{
   width: 30%
}
